*{font-smooth:always;-webkit-font-smoothing:antialiased;padding:0;margin:0;}
html,body{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,nav,section,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
article,aside,figure,footer,header,hgroup,nav,section{display:block;}
abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}
pre{white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word;}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
small{font-size:75%;}
strong,b{font-weight:bold;}
cite,em,dfn,i{font-style:italic;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
img{max-width:100%;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
a:hover,a:active{outline:none;}
ul{list-style:square;}
ol{list-style:decimal;}
ul,ol{margin:10px 15px;}
ul.list-inline li{display:block;float:left;}
.ListNoMarkup{list-style:none;}
nav li{display:block;float:left;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
th{font-weight:bold;vertical-align:bottom;}
td{font-weight:normal;vertical-align:top;}
input,select{vertical-align:middle;}
input[type="radio"]{vertical-align:text-bottom;}
input[type="checkbox"]{vertical-align:bottom;*vertical-align:baseline;}
.clickable,label,input[type=button],input[type=submit],button{cursor:pointer;}
caption,th,td{text-align:left;font-weight:normal;}
.txt-10{font-size:10px;}
.txt-12{font-size:12px;}
.txt-14{font-size:14px;}
.txt-16{font-size:16px;}
.txt-18{font-size:18px;}
.txt-20{font-size:20px;}
.txt-22{font-size:22px;}
.txt-24{font-size:24px;}
.txt-26{font-size:26px;}
.txt-28{font-size:28px;}
.txt-30{font-size:30px;}
.txt-32{font-size:32px;}
.txt-34{font-size:34px;}
.txt-36{font-size:36px;}
.txt-38{font-size:38px;}
.txt-40{font-size:40px;}
.txt-42{font-size:42px;}
.txt-44{font-size:44px;}
.txt-46{font-size:46px;}
.txt-48{font-size:48px;}
.txt-justify{text-align:justify;}
.txt-center{text-align:center;}
.txt-right{text-align:right;}
.txt-left{text-align:left;}
.txt-strong{font-weight:bold;}
.txt-italic{font-style:italic;}
.fr,.alignright{float:right !important;}
.fl,.alignleft{float:left !important;}
.alignright{margin:10px 0 10px 10px;}
.alignleft{margin:10px 10px 10px 0;}
.block{display:block;}
.hide,.seo{display:none;}
.visible{visibility:visible;}
.hidden{visibility:hidden;}
.p-all10{padding:10px 10px 10px 10px;}
.p-all15{padding:15px 15px 15px 15px;}
.p-all20{padding:20px 20px 20px 20px;}
.p-all25{padding:25px 25px 25px 25px;}
.p-all30{padding:30px 30px 30px 30px;}
.p-all35{padding:35px 35px 35px 35px;}
.p-all40{padding:40px 40px 40px 40px;}
.p-all45{padding:45px 45px 45px 45px;}
.p-all50{padding:50px 50px 50px 50px;}
.p-top10{padding:10px 0 0 0;}
.p-top15{padding:15px 0 0 0;}
.p-top20{padding:20px 0 0 0;}
.p-top25{padding:25px 0 0 0;}
.p-top30{padding:30px 0 0 0;}
.p-top35{padding:35px 0 0 0;}
.p-top40{padding:40px 0 0 0;}
.p-top45{padding:45px 0 0 0;}
.p-top50{padding:50px 0 0 0;}
.p-right10{padding:0 10px 0 0;}
.p-right15{padding:0 15px 0 0;}
.p-right20{padding:0 20px 0 0;}
.p-right25{padding:0 25px 0 0;}
.p-right30{padding:0 30px 0 0;}
.p-right35{padding:0 35px 0 0;}
.p-right40{padding:0 40px 0 0;}
.p-right45{padding:0 45px 0 0;}
.p-right50{padding:0 50px 0 0;}
.p-bottom10{padding:0 0 10px 0;}
.p-bottom15{padding:0 0 15px 0;}
.p-bottom20{padding:0 0 20px 0;}
.p-bottom25{padding:0 0 25px 0;}
.p-bottom30{padding:0 0 30px 0;}
.p-bottom35{padding:0 0 35px 0;}
.p-bottom40{padding:0 0 40px 0;}
.p-bottom45{padding:0 0 45px 0;}
.p-bottom50{padding:0 0 50px 0;}
.p-left10{padding:0 0 0 10px;}
.p-left15{padding:0 0 0 15px;}
.p-left20{padding:0 0 0 20px;}
.p-left25{padding:0 0 0 25px;}
.p-left30{padding:0 0 0 30px;}
.p-left35{padding:0 0 0 35px;}
.p-left40{padding:0 0 0 40px;}
.p-left45{padding:0 0 0 45px;}
.p-left50{padding:0 0 0 50px;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:before,.clearfix:after{content:"";display:block;height:0;overflow:hidden;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.wp-caption{position:relative;width:auto !important;}.wp-caption .wp-caption-text{color:white;font-size:12px;position:absolute;left:0;bottom:-10px;padding:10px;width:100%;background:rgba(0, 0, 0, 0.5);}
img.alignleft,img.alignright{padding:2px;box-shadow:0 0 3px rgba(0, 0, 0, 0.3);}
.TxtBlack{color:#000000;}
.TxtWhite{color:#ffffff;}
.TxtBlue{color:#ffffff;}
h1,h2,h3,h4,h5,h6,p{text-rendering:optimizeLegibility;display:block;}
p{line-height:140%;text-align:justify;margin-bottom:10px;}
h1,h2,h3,h4,h5,h6{line-height:160%;font-weight:normal;font-family:'PT Sans Caption',sans-serif;color:#333333;}
h1{font-size:20px;}
h2{font-size:18px;}
h3{font-size:16px;}
h4{font-size:14px;}
h5{font-size:12px;}
h6{font-size:10px;}
a{text-decoration:none;color:#666666;}
body{font-family:'PT Sans',sans-serif;font-size:14px;color:#333333;}body #RJRContent{padding-right:15px;width:100%;opacity:0;position:relative;overflow:hidden;}
body #RJRContent,body #RJRScroller{-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
body #RJRScroller{width:100%;margin:0px;position:relative;overflow:hidden;}
body .SpaceScroll{padding:0 20px;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
body #loadding{position:fixed;left:0;top:0;background:#ffffff;z-index:90000;width:100%;height:100%;}body #loadding ul,body #loadding li{display:block;position:absolute;}
body #loadding ul{width:60px;height:57px;left:50%;top:50%;margin:-26px 0 0 -30px;list-style:none;}body #loadding ul li{background:blue;z-index:90001;background:url("../images/loading.png") no-repeat transparent;display:block;opacity:0;}@-webkit-keyframes LoaddingEffect{15%{opacity:0;} 85%{opacity:1;}}@-o-keyframes LoaddingEffect{15%{opacity:0;} 85%{opacity:1;}}@-moz-keyframes LoaddingEffect{15%{opacity:0;} 85%{opacity:1;}}@keyframes LoaddingEffect{15%{opacity:0;} 85%{opacity:1;}}@-webkit-keyframes LoaddingEffect2{30%{opacity:0;} 70%{opacity:1;}}@-o-keyframes LoaddingEffect2{30%{opacity:0;} 70%{opacity:1;}}@-moz-keyframes LoaddingEffect2{30%{opacity:0;} 70%{opacity:1;}}@keyframes LoaddingEffect2{30%{opacity:0;} 70%{opacity:1;}}@-webkit-keyframes LoaddingEffect3{40%{opacity:0;} 60%{opacity:1;}}@-o-keyframes LoaddingEffect3{40%{opacity:0;} 60%{opacity:1;}}@-moz-keyframes LoaddingEffect3{40%{opacity:0;} 60%{opacity:1;}}@keyframes LoaddingEffect3{40%{opacity:0;} 60%{opacity:1;}}body #loadding ul li#l{width:17px;height:15px;-webkit-animation:LoaddingEffect3 infinite;-moz-animation:LoaddingEffect3 infinite;-o-animation:LoaddingEffect3 infinite;animation:LoaddingEffect3 infinite;-webkit-animation-duration:4.5s;-moz-animation-duration:4.5s;-o-animation-duration:4.5s;right:8px;top:1px;background-position:-44px 1px;}
body #loadding ul li#m{width:27px;height:23px;-webkit-animation:LoaddingEffect2 infinite;-moz-animation:LoaddingEffect2 infinite;-o-animation:LoaddingEffect2 infinite;animation:LoaddingEffect2 infinite;-webkit-animation-duration:4.5s;-moz-animation-duration:4.5s;-o-animation-duration:4.5s;left:13px;top:12px;background-position:-15px -7px;}
body #loadding ul li#b{width:29px;height:26px;-webkit-animation:LoaddingEffect infinite;-moz-animation:LoaddingEffect infinite;-o-animation:LoaddingEffect infinite;animation:LoaddingEffect infinite;-webkit-animation-duration:4.5s;-moz-animation-duration:4.5s;-o-animation-duration:4.5s;left:0;bottom:0;background-position:-14px -5px;}
.btn{display:inline-block;padding:7px 20px;border-style:solid;border-width:1px;color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);font-size:14px;font-family:'PT Sans Caption',sans-serif;border-radius:4px;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
.BtnBlue{border:solid 1px #4799c4;color:#4799c4;text-shadow:none;background:#ffffff;}
.alert{display:block;width:100%;height:auto;margin:0 0 5px;padding:8px 10px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);border-style:solid;border-width:1px;z-index:500;border-radius:4px;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.alert.alert-block{border-color:#fbeed5;background:#fcf8e3;color:#c09853;}.alert.alert-block h1,.alert.alert-block h2,.alert.alert-block h3,.alert.alert-block h4,.alert.alert-block h5,.alert.alert-block h6{color:#c09853;}
.alert.alert-error{border-color:#eed3d7;background:#f2dede;color:#b94a48;}.alert.alert-error h1,.alert.alert-error h2,.alert.alert-error h3,.alert.alert-error h4,.alert.alert-error h5,.alert.alert-error h6{color:#b94a48;}
.alert.alert-success{border-color:#d6e9c6;background:#dff0d8;color:#468847;}.alert.alert-success h1,.alert.alert-success h2,.alert.alert-success h3,.alert.alert-success h4,.alert.alert-success h5,.alert.alert-success h6{color:#468847;}
.alert.alert-info{border-color:#bce8f1;background:#d9edf7;color:#3a87ad;}.alert.alert-info h1,.alert.alert-info h2,.alert.alert-info h3,.alert.alert-info h4,.alert.alert-info h5,.alert.alert-info h6{color:#3a87ad;}
#RJRScroller{position:relative;overflow:hidden;}
.mCSB_container{width:100%;min-height:100%;overflow:hidden;}
.mCSB_scrollTools{width:15px;height:100%;top:0;right:0;}.mCSB_scrollTools .mCSB_draggerContainer{position:absolute;background:#ffffff;top:0;left:0;bottom:0;right:0;z-index:210;overflow:hidden;width:100%;height:auto;}
.mCSB_scrollTools .mCSB_draggerRail{width:100%;height:auto;margin:0 auto;background:none !important;}
.mCSB_scrollTools .mCSB_dragger{cursor:pointer;width:15px;height:30px;}.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:15px;height:100%;margin:0 auto;background:#4799c4;text-align:center;}
@media all and (min-width:100px){}@media all and (max-width:500px){}@media all and (max-width:999px){}@media all and (min-width:1000px){}form{margin:20px 0 0;}form input[type="date"],form input[type="datetime-local"],form input[type="email"],form input[type="month"],form input[type="number"],form input[type="range"],form input[type="search"],form input[type="text"],form input[type="tel"],form input[type="time"],form input[type="url"],form input[type="week"],form select,form textarea{width:100%;margin:0 0 10px;font-size:12px;font-family:'PT Sans',sans-serif;resize:none;color:#ffffff;border:solid 1px #4799c4;padding:5px 10px;font-weight:bold;border-radius:3px;box-shadow:inset #4799c4 800px 0px 0px;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition:all 0.5s ease-in;-moz-transition:all 0.5s ease-in;transition:all 0.5s ease-in;}form input[type="date"]:focus,form input[type="datetime-local"]:focus,form input[type="email"]:focus,form input[type="month"]:focus,form input[type="number"]:focus,form input[type="range"]:focus,form input[type="search"]:focus,form input[type="text"]:focus,form input[type="tel"]:focus,form input[type="time"]:focus,form input[type="url"]:focus,form input[type="week"]:focus,form select:focus,form textarea:focus{font-weight:normal;color:#333333;box-shadow:inset #4799c4 0px 0px 0px;}
form textarea{height:105px;padding:10px;}
.form-error{background:#f2dede;border:1px solid #eed3d7;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);color:#b94a48;font-size:11px;padding:5px 10px;margin-top:-12px;font-family:'PT Sans Caption',sans-serif;border-radius:3px;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}.form-error p{margin:0 !important;}
.form-error em{width:0;height:0;display:block;border:10px solid transparent;border-top-color:#eed3d7;position:absolute;bottom:-20px;left:50%;margin-left:-10px;}
.invalid{border-color:#eed3d7 !important;box-shadow:0 0 5px #eed3d7 !important;}
header{background:url("../images/BgHeader.png") repeat;box-shadow:0 0 2px rgba(0, 0, 0, 0.75);position:fixed;z-index:50;top:0;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
#logo{display:block;overflow:hidden;position:relative;text-indent:-999px;background:transparent url("../images/logo.png") no-repeat;width:190px;height:33px;}
@media all and (min-width:100px){}@media all and (max-width:500px){}@media all and (max-width:999px){#RJRContent{padding-top:50px;} header{width:100%;height:50px;left:0;border-bottom:solid 2px #4799c4;}header #logo{margin:7px 10px 0px 10px;} header .BtnMenuMobile{display:block;border:none;position:absolute;right:20px;top:10px;background:transparent url("../images/BgBtnMobileMenu.png") 0 0;width:30px;height:30px;} header nav ul{display:none;border-top:solid 1px #ffffff;border-bottom:solid 1px #ffffff;position:absolute;z-index:40;top:50px;left:0;margin:0;width:100%;background:#4799c4;}header nav ul li,header nav ul a{display:block;width:100%;} header nav ul li{border-bottom:solid 1px #ffffff;}header nav ul li a{text-align:center;line-height:30px;color:#ffffff;font-size:14px;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);}header nav ul li a:active{box-shadow:0 30px 0 rgba(0, 0, 0, 0.3) inset;} header nav ul.opened{display:block !important;} header .NoMobile{display:none;}}@media all and (min-width:1000px){header{border-right:solid 10px #4799c4;padding:10px 0 10px 10px;left:-245px;width:240px;height:100%;} #logo{margin:20px auto;} #RJRContent{padding-left:240px;} nav ul{width:100%;margin:30px 0;}nav ul li,nav ul a{display:block;float:none;} nav ul li{margin:0 0 5px;}nav ul li a{background:#4799c4;line-height:35px;font-size:13px;color:white;font-weight:bold;text-shadow:0 -1px rgba(0, 0, 0, 0.3);text-transform:uppercase;text-indent:20px;box-shadow:3px 0px 0px white inset;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:5px;border-top-left-radius:5px;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}nav ul li a:hover{box-shadow:250px 0px 0px white inset;color:#4799c4;} .BtnMenuMobile{display:none;} #HeaderInfos{padding:20px 0;width:210px;left:10px;bottom:0;position:absolute;}#HeaderInfos #ContactList{margin:0;} #HeaderInfos li{display:block;float:left;margin:0 5px 0 0;color:#ffffff;line-height:24px;font-size:20px;}#HeaderInfos li:last-child{margin:0;text-align:right;width:150px;} #HeaderInfos li a{display:block;background:url("../images/sprites/SptIcons.png") no-repeat;width:24px;height:24px;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}#HeaderInfos li a.HeaderIconFB{background-position:-88px 0px !important;} #HeaderInfos li a.HeaderIconTW{background-position:-63px 0 !important;} #HeaderInfos li a:hover{opacity:0.5;} #HeaderInfos .EmailInfo{line-height:24px;font-size:20px;color:#ffffff;}#HeaderInfos .EmailInfo:hover{text-decoration:underline;} #HeaderInfos .ass{color:rgba(255, 255, 255, 0.75);margin:10px 0;font-size:12px;text-align:center;}}#PagePortfolio .job{float:left;position:relative;overflow:hidden;cursor:pointer;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}#PagePortfolio .job img{width:100%;}
#PagePortfolio .job figcaption{position:absolute;padding:10px;background:rgba(0, 0, 0, 0.5) url("../images/zoom_gallery.png") center center no-repeat;width:100%;height:100%;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}#PagePortfolio .job figcaption h1,#PagePortfolio .job figcaption h2,#PagePortfolio .job figcaption h3,#PagePortfolio .job figcaption h4,#PagePortfolio .job figcaption h5,#PagePortfolio .job figcaption h6{color:#ffffff;text-align:center;position:absolute;bottom:10px;font-size:16px;text-shadow:0px -1px 0 rgba(0, 0, 0, 0.2);}
#OverlayModalPortfolio{opacity:0;position:fixed;z-index:800;left:0;top:0;background:url("../images/default/fancy/fancybox_overlay.png") repeat;width:100%;height:100%;}#OverlayModalPortfolio #TextModalPortfolio{background:#ffffff;border-left:5px solid #4799c4;box-shadow:0 0 2px rgba(0, 0, 0, 0.5);padding:10px;position:fixed;right:-35%;width:35%;height:100%;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}#OverlayModalPortfolio #TextModalPortfolio h1,#OverlayModalPortfolio #TextModalPortfolio h2,#OverlayModalPortfolio #TextModalPortfolio h3,#OverlayModalPortfolio #TextModalPortfolio h4,#OverlayModalPortfolio #TextModalPortfolio h5,#OverlayModalPortfolio #TextModalPortfolio h6{color:#4799c4;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);border-bottom:1px solid rgba(0, 0, 0, 0.05) !important;margin:10px 0;}
#OverlayModalPortfolio #TextModalPortfolio h1{background-color:#4799C4;color:#FFFFFF;margin:-10px -10px 20px;padding:5px 10px 0;}
#OverlayModalPortfolio #ImgContent{width:65%;height:100%;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;opacity:0;position:fixed;left:0;top:0;}#OverlayModalPortfolio #ImgContent .arrow{cursor:pointer;position:absolute;display:block;background:rgba(0, 0, 0, 0.5);top:50%;margin-top:-20px;line-height:40px;text-align:center;font-size:22px;font-family:Tahoma;color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);width:40px;height:40px;}#OverlayModalPortfolio #ImgContent .arrow:hover{background:#4799c4;}
#OverlayModalPortfolio #ImgContent .arrow#ArrowPrev{left:10px;}
#OverlayModalPortfolio #ImgContent .arrow#ArrowNext{right:10px;}
#OverlayModalPortfolio #exit{opacity:0;border:none;background:none;position:fixed;top:10px;left:60%;display:block;text-align:center;padding:0 12px 5px;color:#4799c4;font-size:22px;z-index:20;}#OverlayModalPortfolio #exit:hover{background:#4799c4;color:#ffffff;}
#PageContact iframe{height:400px;}
#PageContact input[type="date"],#PageContact input[type="datetime-local"],#PageContact input[type="email"],#PageContact input[type="month"],#PageContact input[type="number"],#PageContact input[type="range"],#PageContact input[type="search"],#PageContact input[type="text"],#PageContact input[type="tel"],#PageContact input[type="time"],#PageContact input[type="url"],#PageContact input[type="week"],#PageContact select,#PageContact textarea{padding:10px;font-size:14px;}
#PageContact textarea{height:182px;margin:0 0 20px;}
#PageContact #location{margin:20px 0 0;}#PageContact #location iframe{width:100%;height:400px;}
#page404{font-size:18px;text-align:center;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);}#page404 img{display:table;margin:0 auto 20px;}
@media all and (min-width:100px){.job{width:100%;height:auto;}}@media all and (min-width:500px){.job{width:50%;height:auto;} #PageContact fieldset{width:100%;} #PageContact .BtnBlue{width:100%;float:none;}#PageContact .BtnBlue:active{background:#4799c4;color:#ffffff;}}@media all and (min-width:800px){.job{width:33.333333333333336%;height:auto;} #PageContact fieldset{width:48.5%;}#PageContact fieldset.l{float:left;} #PageContact fieldset.r{float:right;} #PageContact .BtnBlue{width:auto;float:right;margin:10px 0 0;}#PageContact .BtnBlue:hover{background:#4799c4;color:#ffffff;}}@media all and (min-width:1000px) and (max-width:1210px){.job{width:50%;height:auto;}}@media all and (min-width:1600px){.job{width:25%;height:auto;}}@media all and (max-width:999px){footer{display:block;background:url("../images/BgHeader.png") repeat;color:#ffffff;border-top:solid 5px #4799c4;box-shadow:0 0 2px rgba(0, 0, 0, 0.75);}footer p{margin:0;line-height:30px;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);}}@media all and (min-width:1000px){footer{display:none;}}
